@import '../../variables';


.index{
    flex: 0 0 13%;

}

.move{
    flex: 0 0 43.5%;
    font-family: 'Chess', 'Noto Sans', Sans-Serif;
}

.game-details-panel{
    height: $widescreen-game-height;
    display: flex;
    flex-direction: column;
}

@media screen  and (max-width: 850px){
    .game-details-panel{
        //100vh - navbarHeight - boardHeight - previousNextCommentButtonsHeight
        height: calc(100vh - 3.25rem - 100vw - 40px);
    }
}

.game-header > p{
    justify-content: center;
}

.notation-wrapper{
    padding: 0;
    flex-grow: 1;
    overflow-y: scroll;
}
.notation{
    display: flex;
    flex-flow: row wrap;

}

.main-line-move{
    flex: 0 0 43.5%;
    padding: 0px !important;

    margin-bottom: 0 !important;
}
.notation>.move-number{
    flex: 0 0 13%;
    text-align: center;
    border-right: solid 1px #ddd;
    color: #c0c0c0;
    background: #f8f8f8;
    padding: 5px;
}
.notation>.move-number+.move{
    border-right: solid 1px #ddd;
    /*max-width: 45%;*/
}
.notation>.move-number+.empty-move{
    border-right: solid 1px #ddd;
    /*max-width: 45%;*/
}
.move{
    text-align: left;
    cursor: pointer;
    padding: 5px;
}
.empty-move{
    flex: 0 0 43.5%;
    text-align: left;
    padding: 5px;
}
.move:hover{
    background: #E6E6FA;
}
.move.active{
    font-weight: bold;
    background: #d4e8fa;
}
.interrupt{
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    background: #f8f8f8;
    flex: 0 0 100%;
    text-align: left;
}

.interrupt>.comment{
    padding: 3px 5px;
    display: block;
}

.sublines{
    border-left: 2px solid #ccc;
    text-align: left;
}

.sublines .sublines::before{
    content: ' ';
    border-top: 2px solid #d9d9d9;
    position: absolute;
    margin-left: -11px;
    width: 9px;
    height: 6px;
}

.subline{
    padding-left: 7px;
    margin: 2px 0;
    position: relative;
}
.sublines .subline::before{
    margin-top: 0.65em;
    margin-left: -8px;
    content: ' ';
    border-top: 2px solid #ccc;
    position: absolute;
    width: 8px;
    height: 6px;
}

.interrupt>.sublines{
    border: none;
}
.subline-move{
    padding: 0 2px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Chess', 'Noto Sans', Sans-Serif;
}
.subline-move:hover{
    background: #E6E6FA;
}
.subline-move .move-number{
    font-size: 90%;
    color: #787878;
    display: inline-block;
}
.subline-move.active{
    font-weight: bold;
    background: #d4e8fa;
}

.subline .comment{
    display: inline;
    color: #787878;
    word-wrap: break-word;
    padding: 0 5px 0 3px;
    //vertical-align: top;
    font-size: 90%;
}

.move-list{
    padding:0;
}

.context-menu{
    background: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 3px;
    .title{
        padding: .4em;
        text-align: center;
        font-size: 1.2em;
        border-bottom: 1px solid #d9d9d9;
        margin: 0;
        background: linear-gradient(to bottom, #f5f5f5 0%, #ededed 100%);
        text-shadow: 0 1px 0 #fff;
        font-family: 'Chess', 'Noto Sans', Sans-Serif;
        font-weight: normal;
    }
    .item{
        color: #4d4d4d;
        padding: .5em .6em .5em .3em;
        cursor: pointer;
        font-size: .9em;
    }
    .item:hover{
        background: #fbede6;
    }
    .item:focus{
        outline: none;
    }
}